<div class="container" *ngIf="teamId === 0">
  <div class="center-align">
    <h1 class="title">FIRST Tech Challenge</h1>
    <hr>

    <div class="text-box">
      <br>
      <p style="font-size: large">
        The FTC program is one of the most popular programs at Francis Lewis High School. Due to sustained interest in
        FTC, the school has eight FTC teams that compete in various tournaments not only in New York City but also in
        New Jersey and Hudson Valley.
      </p>
    </div>
    <br>
    <p style="font-size: large">Take a look at this year's game.</p>
    <div class="video-container">
      <iframe class="responsive-embed" src="https://www.youtube.com/embed/nRsu7bRFhx4" frameborder="0"
              allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <hr>
    <br>
  </div>
</div>
<div class="container" *ngIf="teamId !== 0">
  <div class="row">
    <h3>Team {{teamId}}</h3>
  </div>
  <div class="row">
    <div class="col s12 m6" *ngFor="let member of teamMember">
      <div class="row">
        <div class="col">
          <img [src]="member.img" class="pFrame" [alt]="member.name">
        </div>
        <div class="col">
          <p class="name">{{member.name}}</p>
          <p class="role">{{member.role}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
