<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Francis Lewis High School Robotics</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Francis-Lewis-High-School-Robotics-Team-181186045261035/"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/flhsrobotics"><i class="fa fa-twitter"></i>&nbsp;Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017-2018 Francis Lewis High School Robotics
      <a class="grey-text text-lighten-4 right" href="http://www.francislewishs.org/">School Offical Website</a>
    </div>
  </div>
</footer>
