<div class="container">
  <div class="row">
    <div class="col s12 m6 l6">
      <img src="/assets/img/map.png" class="responsive-img" alt="" style="padding: 55px">
    </div>
    <div class="col s12 m6 l6" style="padding: 55px">
      <div class="card">
        <div class="card-content center-align">
          <p>58-20 Utopia Parkway</p>

          <p>Fresh Meadows, NY 11365</p>

          <p>flhsrobotics@gmail.com</p>

          <p>Tel: 718-281-3716</p>
        </div>
      </div>
    </div>
  </div>
</div>

