<div id="bg-image">
  <div class="overlay-box">
    <div class="overlay-text center-align pin-bottom">
      <p class="indigo-text text-darken-4">DEVELOPING A NEW GENERATION OF INNOVATORS</p>
      <h2 class="indigo-text text-darken-4">DREAM CREATE ACHIEVE</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col m4 s12">
      <div class="card blue-grey darken-1 card-custom">
        <div class="card-content white-text">
          <span class="card-title">FRC</span>
          <p>Under strict rules, limited resources, and an intense six-week time limit, teams of students are challenged
            to raise funds, design a team "brand," hone teamwork skills, and build and program industrial-size robots to
            play a difficult field game against like-minded competitors.</p>
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn" routerLink="/frc">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card blue-grey darken-1 card-custom">
        <div class="card-content white-text">
          <span class="card-title">FTC</span>
          <p>Guided by adult Coaches and Mentors, students develop STEM skills and practice engineering principles (like
            keeping an engineering notebook), while realizing the value of hard work, innovation, and sharing ideas.</p>
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn" routerLink="/ftc">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card blue-grey darken-1 card-custom">
        <div class="card-content white-text">
          <span class="card-title">OUTREACH</span>
          <p>Our members focus not only on building and programming robots but also on reaching out to students not yet
            involved with robotics. Our teams go to various middle and elementary schools to promote STEM programs. We
            also participate in expos including World Science Festival and Maker Faire.</p>
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn" routerLink="/outreach">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
