<div class="container" *ngIf="teamId == '0'">
  <div class="center-align">
    <h1 class="title">FIRST Robotics Competition</h1>
    <hr>

    <div class="text-box">
      <br>
      <p style="font-size: large">
        Founded in 2009, FRC Team 3017 (Patriots) is the oldest FIRST team at Francis Lewis High School. Inspired by
        this program, the school has expanded to create eight First Tech Challenge teams and build an Engineering
        Program that has graduated students who pursued careers in Engineering, Computer Science, etc.
      </p>
    </div>
    <br>
    <p style="font-size: large">Take a look at this year's game.</p>
    <div class="video-container">
      <iframe class="responsive-embed" src="https://www.youtube.com/embed/HZbdwYiCY74" frameborder="0"
              allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <hr>
    <br>
  </div>
</div>
<div class="container" *ngIf="teamId != '0'">
  Frc Component works!
  <br>
  Frc Team Number:{{teamId}}
</div>
