<nav class="light-blue darken-4">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo" style="display: inline;"><img src="/assets/img/logo.png" alt="FRANCIS LEWIS ROBOTICS"></a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a data-activates='dropdown-frc' class="dropdown-button">FRC</a>
        <ul id='dropdown-frc' class="dropdown-content" style="margin-top: 64px;">
          <li><a routerLink="/frc/3017">3017</a></li>
        </ul>
      </li>
      <li><a data-activates='dropdown-ftc' class="dropdown-button">FTC</a>
        <ul id='dropdown-ftc' class="dropdown-content" style="margin-top: 64px;">
          <li><a routerLink="/ftc/3017">3006</a></li>
          <li><a routerLink="/ftc/4780">4780</a></li>
          <li><a routerLink="/ftc/4781">4781</a></li>
          <li><a routerLink="/ftc/4782">4782</a></li>
          <li><a routerLink="/ftc/4783">4783</a></li>
          <li><a routerLink="/ftc/4784">4784</a></li>
          <li><a routerLink="/ftc/4785">4785</a></li>
          <li><a routerLink="/ftc/4995">4995</a></li>
          <li><a routerLink="/ftc/staff">staff</a></li>
        </ul>
      </li>
      <li><a routerLink="/outreach">Outreach</a></li>
      <li><a routerLink="/sponsors">Sponsors</a></li>
      <li><a routerLink="/media">Media</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a data-activates='dropdown-frc-m' class="dropdown-button">FRC</a>
        <ul id='dropdown-frc-m' class="dropdown-content" style="margin-top: 64px;">
          <li><a routerLink="/frc/3017">3017</a></li>
        </ul>
      </li>
      <li><a data-activates='dropdown-ftc-m' class="dropdown-button">FTC</a>
        <ul id='dropdown-ftc-m' class="dropdown-content" style="margin-top: 64px;">
          <li><a routerLink="/ftc/3017">3006</a></li>
          <li><a routerLink="/ftc/4780">4780</a></li>
          <li><a routerLink="/ftc/4781">4781</a></li>
          <li><a routerLink="/ftc/4782">4782</a></li>
          <li><a routerLink="/ftc/4783">4783</a></li>
          <li><a routerLink="/ftc/4784">4784</a></li>
          <li><a routerLink="/ftc/4785">4785</a></li>
          <li><a routerLink="/ftc/4995">4995</a></li>
          <li><a routerLink="/ftc/staff">staff</a></li>
        </ul>
      </li>
      <li><a routerLink="/outreach">Outreach</a></li>
      <li><a routerLink="/sponsors">Sponsors</a></li>
      <li><a routerLink="/media">Media</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
