<div class="container">
  <h1 class="center-align">Outreach</h1>
  <div class="row" *ngIf="isContentLoaded">
    <div class="col m12">
      <div class="card horizontal" *ngFor="let outreachData of outreachArr">
        <div class="card-image">
          <img src="{{outreachData.img}}" class="responsive-img">
        </div>
        <div class="card-stacked">
          <span class="card-title">{{outreachData.outreachName}}</span>
          <div class="card-content">
            <p>{{outreachData.outreachDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="!isContentLoaded"></app-loader>
</div>
