@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~materialize-css/dist/css/materialize.min.css";
body {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
